@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100;200;300;400;500;600;700;800;900&family=Geist+Mono:wght@400;500;600;700&display=swap');

@theme {
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Geist Mono', monospace;
  
  --color-primary: #00d2ff;
  --color-secondary: #0a1128;
  --color-background: #121e3d;
  --color-green: #0088cc;
  --color-red: #ff4500;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes marquee-reverse {
    0% {
      transform: translateX(-50%);
    }

    100% {
      transform: translateX(0);
    }
  }

  --animate-marquee: marquee 20s linear infinite;
  --animate-marquee-reverse: marquee-reverse 30s linear infinite;
}

@layer utilities {
  .pause-on-hover:hover {
    animation-play-state: paused;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}